/*=========================================================================================
    File Name: switch.scss
    Description: Switch page styles
    ----------------------------------------------------------------------------------------
    Item Name: The Key Society
      Author: Marwan Refaat
    Author URL: https://TheKeySociety.com
==========================================================================================*/

.demo-alignment {
    li {
        margin-right: 2rem;
    }

    .vs-switch {
        margin-top: .5rem;
    }
}